.app {
  width: 100%;
  height: 100%;

  .colorsContainer {
    position: relative;
    width: 200px;
    height: 200px;

    .colorCircle {
      position: absolute;
      z-index: 1;
      width: 200px;
      height: 200px;

      &.RGB {
        mix-blend-mode: difference;
      }

      &.CMYK {
        mix-blend-mode: multiply;
      }
    }
  }
}